{{ template "base_top.tmpl" .}}

<h3>{{ .Query }} に関するツイート</h3>
   <div class="timeline">
{{ template "_tweets.tmpl" .}}
   </div>
   <button class="readmore">さらに読み込む</button>

{{ template "base_bottom.tmpl" .}}
